<h1>Mulligan</h1>

<%= form_with method: :get, local: true do |form| %>
  <%= form.label :deck, 'Deck' %>
  <%= form.collection_select :deck, @existing_decks, :id, :name %>
  <%= form.submit 'Load Deck', name: nil, id: 'load-deck-btn' %>
<% end %>